/*clear css*/
* {
    margin: 0;
    padding: 0;
    outline: 0; 
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
  }
  
  body {
    background: #f5f5f5;
  }
  
  body, input, button {
    font-family: Arial, Helvetica, sans-serif;
  }

.red {
  background: #F13107 !important;
}

.logout {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 38px;
  width: 60px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}

/* login css */
.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-container form input{
  margin-top:20px;
  border: 1px solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
}

.login-container form input::placeholder{
  color: #999999;
}

.login-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}
/*end login css*/

/*new user css*/
.new-user-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-user-container h1{
  text-align: center;
  margin-bottom: 20px;
}

.new-user-container form{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top:20px;
}

.new-user-container form input{
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
}

.new-user-container form textarea{
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  height: 160px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
  resize: none;
}

.new-user-container form input::placeholder{
  color: #999999;
}

.new-user-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}
/*emd new user css*/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content button {
  border: 0;
  border-radius: 4px;
  height: 48px;
  width: 200px;
  margin-top: 15px;
  background: #00bfff;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
}

/* The Close Button */
.close {
  color: #999999;
  margin-top: -18px;
  margin-left: 100%!important;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*end modal css*/